@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Partials/_MetaData.cshtml")

    @await RenderSectionAsync("meta", required: false)

    <cache expires-after="@TimeSpan.FromMinutes(5)">
        @await Html.PartialAsync("~/Views/Partials/_Links.cshtml")
    </cache>
</head>

<body>
    <header>
        <cache expires-after="@TimeSpan.FromMinutes(5)">
            @await Html.PartialAsync("~/Views/Partials/_Navigation.cshtml")
        </cache>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <cache expires-after="@TimeSpan.FromMinutes(5)">
            @await Html.PartialAsync("~/Views/Partials/_Footer.cshtml")
        </cache>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>